*{
    box-sizing: border-box;
    margin: 0;
    outline: 0; /* "halo" autour des input lorsque le curseur est dedans */
    padding: 0;
}

ol,ul{
    list-style: none; /* Suppression des puces */
}

a{
    color:inherit; /* Annule la couleur du navigateur et reprend celle donné par héritage */
    text-decoration: none; /* Supprime le soulignement */
}

body{
    display: flex;
    flex-direction: column;
    
    /* Garantie une hauteur minimun quelque soit le contenu */
    /* vh= pourcentage de la hauteur de la zone d'affichage ("viewport height") */
    min-height: 100vh;
}

main{
    /* Demande à l'élément d'occuper toute la place non-utilisée du parent */
    flex-grow: 1;
}